urxvt.scrollBar: 0
URxvt.internalBorder: 20
URxvt.background: #0E0C0C
URxvt.foreground: #efcf9f
URxvt.font: xft:SourceCodePro-Medium:size=11
URxvt.letterspace: -4
URxvt.secondaryWheel: 1
! Colors 0-15.
*.color0: #0E0C0C
*color0:  #0E0C0C
*.color1: #4A3830
*color1:  #4A3830
*.color2: #664534
*color2:  #664534
*.color3: #735544
*color3:  #735544
*.color4: #9E552B
*color4:  #9E552B
*.color5: #CA6126
*color5:  #CA6126
*.color6: #F5962E
*color6:  #F5962E
*.color7: #efcf9f
*color7:  #efcf9f
*.color8: #a7906f
*color8:  #a7906f
*.color9: #4A3830
*color9:  #4A3830
*.color10: #664534
*color10:  #664534
*.color11: #735544
*color11:  #735544
*.color12: #9E552B
*color12:  #9E552B
*.color13: #CA6126
*color13:  #CA6126
*.color14: #F5962E
*color14:  #F5962E
*.color15: #efcf9f
*color15:  #efcf9f

! Black color that will not be affected by bold highlighting.
*.color66: #0E0C0C
*color66:  #0E0C0C

