urxvt.scrollBar: 0
URxvt.internalBorder: 20
URxvt.background: #100e11
URxvt.foreground: #d8bfa3
URxvt.font: xft:SourceCodePro-Medium:size=11
URxvt.letterspace: -4
URxvt.secondaryWheel: 1
URxvt.color0: #100e11
URxvt.color1: #313E61
URxvt.color2: #453C44
URxvt.color3: #3A4386
URxvt.color4: #575C60
URxvt.color5: #5A66C
URxvt.color6: #966842
URxvt.color7: #d8bfa3
URxvt.color8: #978572
URxvt.color9: #313E61
URxvt.color10: #453C44
URxvt.color11: #3A4866
URxvt.color12: #575C60
URxvt.color13: #5A666C
URxvt.color14: #966842
URxvt.color15: #d8bfa3

