@import "global.rasi"
* {
  background-color: @background;
  text-color: @foreground;
  font: "Material Design Icons Desktop 20";
  width: 512px;
}
#window {
  children: [ horibox ];
  padding: @option-5-window-padding
}
#horibox {
  children: [ listview ];
}

#listview {
  layout: horizontal;
  lines: 5;
}

